<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.melodymarket.infrastructure.mybatis.mapper.UserMapper">
    <select id="existByUserId" resultType="boolean">
        SELECT count(*) > 0
        FROM melody_user
        WHERE user_id = #{userId}
    </select>

    <select id="existByNickname" resultType="boolean">
        SELECT count(*) > 0
        FROM melody_user
        WHERE nickname = #{nickname}
    </select>

    <select id="findUser">
        SELECT id, user_passwd, nickname, email, birth_date, join_date, membership_level
        FROM melody_user
        WHERE user_id = #{userId}
    </select>

    <insert id="saveUser">
        INSERT INTO melody_user (user_id, user_passwd, nickname, email, birth_date, join_date, membership_level)
        VALUES (#{userId}, #{userPasswd}, #{nickname}, #{email}, STR_TO_DATE(#{birthDate}, '%Y%m%d'), STR_TO_DATE(#{joinDate}, '%Y-%m-%d'), #{membershipLevel})
    </insert>
</mapper>