<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.melodymarket.infrastructure.mybatis.mapper.UserMapper">
    <select id="existByLoginId" resultType="boolean">
        SELECT count(*) > 0
        FROM melody_user
        WHERE login_id = #{loginId}
    </select>

    <select id="existByNickname" resultType="boolean">
        SELECT count(*) > 0
        FROM melody_user
        WHERE nickname = #{nickname}
    </select>

    <select id="findUser" parameterType="com.melodymarket.domain.user.model.Account">
        SELECT id, login_id, username, user_passwd, nickname, email, birth_date, join_date, membership_level
        FROM melody_user
        WHERE login_id = #{loginId}
    </select>

    <select id="getUserInfo" parameterType="com.melodymarket.domain.user.model.Account">
        SELECT id, login_id, username, user_passwd, nickname, email, birth_date, join_date, membership_level
        FROM melody_user
        WHERE id = #{id}
    </select>

    <insert id="saveUser">
        INSERT INTO melody_user (login_id, username, user_passwd, nickname, email, birth_date, join_date, membership_level)
        VALUES (#{loginId}, #{username}, #{userPasswd}, #{nickname}, #{email}, #{birthDate}, #{joinDate}, #{membershipLevel})
    </insert>

    <update id="updatePassword">
        UPDATE melody_user
        SET user_passwd = #{password}
        WHERE id = #{id}
    </update>

    <update id="updateUserInfo">
        UPDATE melody_user
        <set>
            <if test="updateUserDto.nickname != null">nickname = #{updateUserDto.nickname},</if>
            <if test="updateUserDto.email != null">email = #{updateUserDto.email},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteUserAccount">
        DELETE
        FROM melody_user
        WHERE id = #{id}
    </delete>
</mapper>